.popap__close-cross {
  cursor: pointer;
  position: absolute;
  top: -16px;
  right: 0px;
}

.popap__close-cross::after, .popap__close-cross::before  {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background: #FFFFFF;
  transform: rotate(45deg);
}

.popap__close-cross::before {
  transform: rotate(-45deg);
}
